<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desapeguei</title>
    <link rel="stylesheet" href='/stylesheets/cadastro.css'>
</head>
<body>
    <header id="header-azul"></header>
    <section id="container-loginp">
        <h1>Complete seu cadastro</h1>
        <article id="container-login">
            <img src="../public/images/logo.png" alt="logo">
            <form action="" id="formlogin">
                <label for="nome">Nome</label>
                <input type="text" name="nome" id="nome">
                <label for="email">E-mail</label>
                <input type="email" name="email" id="email">
                <label for="email">Senha</label>
                <input type="password" name="password" id="password">
            </form>
            <input type="submit" value="Cadastrar">
            <hr>
            <p>Já possuo uma conta</p>
            <button>Entrar</button>
        </article>
    </section>
    <footer>
        ©Desapeguei LTDA - Rua do Azul, 1000, Azulzin - 00000-000 - Rio de Janeiro, RJ
    </footer>

</body>
</html>
