<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desapeguei</title>
    <link rel="stylesheet" href='/stylesheets/carrinho.css'>
</head>
<body>
    <header id="header-carrinho">

      <section id="topoSite">

        <div class="botoesLateralEsq">
          <div class="divLogo">
            <img id="logoSite" src="../public/images/logoSite.png">
          </div>
        </div>

      </section>

    </header>
    <section id="container-carrinhop">
        <h1>Meu Carrinho </h1>
        <div class="logoCarrinho"> 
          <a href="">
            <img src="../public/images/logoCarrinho.png" alt="logoC"/>
          </a>
        </div>
        <h2 id = "logoCarrinho">
          <a href=""></a>
        </h2>
        <article id="container-carrinho">
            <form action="" id="formcarrinho">
                
            </form>
            <input type="submit" value="Fechar Negócio">
          </nav>
            <hr>
        </article>
    </section>

    <div class=corpoCarrinho>

      <section class="prodC">

        <div class="exibeProd">

          <div class="tituloProd">Cadeira com apoio para os pés</div>
          <div class="lay2col">
            <div class="imgProd">
              <img src="/public/images/imagemProduto.png" alt="Imagem do Produto">
            </div>
            <div class="descrProd">
              <div class="estrelaProd">
                <img src="/public/images/avaliacaoProd.png" alt="Classificação do produto">
              </div>
              <div class="precoProd">
                R$ 1000,00 ou </br> 10x R$ 100,00
              </div>

            </div>

          </div>
          <hr>
          <div class="tituloProd">Cama King Size</div>
          <div class="lay2col">
            <div class="imgProd">
              <img src="/public/images/img-cama.png" alt="Imagem do Produto">
            </div>
            <div class="descrProd">
              <div class="estrelaProd">
                <img src="/public/images/avaliacaoProd.png" alt="Classificação do produto">
              </div>
              <div class="precoProd">
                R$ 320,00 ou </br> 10x R$ 32,00
              </div>

            </div>

          </div>
          
        </div>

      </section>

      <footer>
        ©Desapeguei LTDA - Rua do Azul, 1000, Azulzin - 00000-000 - Rio de Janeiro, RJ
      </footer>
    </div>
</body>

</html>