<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/produto.css' />
</head>

<body>
  <header>
    <section id="topoSite">
      <img id="logoSite" src="../public/images/logoSite.png">
      <input type="search" name="busca" id="buscaSite">
      <img id="imgAnunciar" src="../public/images/anunciar.png">
      <button id="btnAnunciar">Anunciar</button>
      <img id="imgUser" src="../public/images/user.png">
      <button id="btnEntrar">Entrar</button>
    </section>
    <!-- <nav id="nav-principal">
      <ul>
        <li><a href="#">Cadeiras</a></li>
        <li><a href="#">Mesas</a></li>
        <li><a href="#">Armarios</a></li>
        <li><a href="#">Sofás</a></li>
        <li><a href="#">Camas</a></li>
        <li><a href="#">Acessórios</a></li>
      </ul>
    </nav> -->
  </header>

</body>
</html>
