<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/produto.css'/>
</head>

<body>
  <header>
    <section class="topoSite">
      <div class="botoesLateralEsq">
        <div class="divLogo">
          <img id="logoSite" src="../public/images/logoSite.png">
        </div>
        <div class="divBuscar">
          <input type="search" name="busca" class="buscaSite" placeholder="o que você procura?">
        </div>
      </div>
      <div class="botoesLateralDir">
        <div class="divAnunciar">
          <img id="imgAnunciar" src="../public/images/anunciar.png">
          <span class="spnAnunciar">Anunciar</span>
        </div>
        <div class="divLogin">
          <img id="imgUser" src="../public/images/user.png">
          <span class="spnEntrar">Entrar</span>
        </div>
      </div>
    </section>
    <nav class="nav-principal">
      <div class="nav-divPrincipal">
        <div class="navItem">
          <img class='navImg' src="/public/images/cadeira.png" alt="Menu Cadeiras">
          <a href="#">Cadeiras</a>
        </div>
        <div class="navItem">
          <img class='navImg' src="/public/images/escrivaninha.png" alt="Menu Mesas">
          <a href="#">Mesas</a>
        </div>
        <div class="navItem">
          <img class='navImg' src="/public/images/armario.png" alt="Menu Armarios">
          <a href="#">Armarios</a></div>
        <div class="navItem">
          <img class='navImg' src="/public/images/sofa.png" alt="Menu Sofás">
          <a href="#">Sofás</a></div>
        <div class="navItem">
          <img class='navImg' src="/public/images/cama.png" alt="Menu Camas">
          <a href="#">Camas</a></div>
        <div class="navItem">
          <img class='navImg' src="/public/images/abajur.png" alt="Menu Acessórios">
          <a href="#">Acessórios</a></div>
      </div>
    </nav>
  </header>
  <div class=artigos>
  <Section class="Prod">
    <div class="exibeProd">
      <div class="tituloProd">Cadeira com apoio para os pés</div>
      <div class="lay2col">
        <div class="imgProd">
          <img src="/public/images/imagemProduto.png" alt="Imagem do Produto">
        </div>
        <div class="descrProd">
          <div class="estrelaProd">
            <img src="/public/images/avaliacaoProd.png" alt="Classificação do produto">
          </div>
          <div class="precoProd">
            R$ 320,00 ou </br> 10x R$ 32,00
          </div>
          <button class="btnComprar">Comprar</button>
          <button class="btnAddCart">Adicionar ao Carrinho</button>
        </div>

      </div>

    </div>

  </Section>
  <br>
  <div class="informacoes-produto">
    <h2 class="informacoes-titulo">Informações do Produto</h2>
    <span> A cadeira conforável e o apoio é uma ótima <br> opção para quem procura conforto e qualidade</span>
    
     </div>

     <h2 class="produtos-titulo">Produtos Semelhantes</h2>


     <div class="card-produto">
       <div class="card-cama">
        <img src="/public/images/img-cama.png" alt="" class="img-cama">
        <span class="span-card">Cama King Size</span>
        <img src="/public/images/avaliacaoProd.png" alt="" class="img-estrela">
       </div>
       <div class="card-cama">
        <img src="/public/images/img-armario.png" alt="" class="img-armario">
        <span class="span-card">Armario e Sapateira</span>
        <img src="/public/images/avaliacaoProd.png" alt="" class="img-estrela">
       </div>
       <div class="card-cama">
        <img src="/public/images/img-mesa.png" alt=""class="img-mesa">
        <span class="span-card">Kit Cadeira e Mesa</span>
        <img src="/public/images/avaliacaoProd.png" alt="" class="img-estrela">
       </div>
       <div class="card-cama">
        <img src="/public/images/img-mesa.png" alt=""class="img-mesa">
        <span class="span-card">Kit Cadeira e Mesa</span>
        <img src="/public/images/avaliacaoProd.png" alt="" class="img-estrela">
       </div>
     </div>

     <footer>
       <span class="copyright">
        ©️ Desapeguei LTDA- Rual do Azul, 1000, Aulzin - 00000-000 - Rio de Janeiro, RJ
       </span>
     </footer>
    </div>

</body>

</html>