* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    border: 0;
    font-size: 20px;
    color: #323b7e;
  }
  body,
  html {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  hr {
    display: block;
    position: relative;
    padding: 0;
    margin: 8px auto;
    height: 0;
    width: 70%;
    max-height: 0;
    font-size: 1px;
    line-height: 0;
    clear: both;
    border: none;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #ffffff;
  }
  .topoSite {
    display: flex;
    width: 100%;
    background-color: #fff;
    justify-content: space-between;
  }
  .botoesLateralEsq {
    display: flex;
    justify-content: space-around;
    width: 50%;
  }
  
  .divLogo {
    width: 50%;
    justify-content: flex-start;
  }
  
  #header-carrinho {
    position: relative;
    width: 100%;
    height: 120px;
    left: 0px;
    top: 0px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  #logoCarrinho {
    width: 50%;
    justify-content: flex-start;
  }
  
  #container-carrinhop h1 {
    padding: 30px;
    font-size: 50px;
    color: #323b7e;
  }
  
  #container-carrinhop {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
  }
  
  #container-carrinho img {
    position: absolute;
    top: 86px;
    height: 200px;
  }
  
  #container-carrinho {
    background: #f1f7fa;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #323b7e;
    height: 20vh;
    width: 50vw;
    margin-bottom: 20px;
  }
  
  #formcarrinho {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 50%;
    justify-content: center;
    margin-top: 10px;
  }
  
  input[type="email"],
  [type="password"],
  [type="text"] {
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 50%;
    margin-bottom: 20px;
  }
  
  input[type="submit"] {
    background-color: #50edf6;
    border: none;
    border-radius: 5px;
    padding: 10px;
    min-width: 30%;
    margin-bottom: 20px;
    color: #323b7e;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    align-self: center;
  }
  
  #container-perfil button {
    background-color: #323b7e;
    border: none;
    border-radius: 5px;
    padding: 10px;
    min-width: 30%;
    margin: 20px;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    align-self: center;
  }
  .prodC {
    display: flex;
  }
  
  .exibeProd {
    display: flex;
    width: 80%;
    flex-direction: column;
    margin-left: 30px;
  }
  .corpoPerfil {
    width: 50%;
    margin: auto;
    background-color: #fff;
  }
  
  .tituloProd {
    font-size: 20px;
    padding: 15px 0px;
    font-weight: bold;
    color: #323b7e;
    margin-left: 6%;
  }
  
  .lay2col {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  
  .imgProd {
    width: 1000px;
  }
  
  .imgProd img {
    max-width: 100%;
    max-height: 100%;
    width: 200px;
    margin-left: 10%;
  }
  
  .descrProd {
    align-items: center;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    width: 750px;
    margin-top: 10px;
  }
  .estrelaProd img {
    max-width: 50%;
    max-height: 100%;
    margin: 0px;
  }
  
  .precoProd {
    font-size: 20px;
    padding: 15px 0px;
    color: #323b7e;
  }
  
  .logoCarrinho img {
    max-width: 30%;
    max-height: 100%;
    margin: 0px;
  }
  
  footer {
    text-align: center;
    color: #ffffff;
    font-size: 10px;
    background: #323b7e;
    padding: 20px;
  }
  
  @media (max-width: 480px) {
    #container-perfil {
      height: 90vh;
      width: 70vw;
    }
  
    #formperfil {
      margin-left: 20%;
    }
  
    input[type="email"],
    [type="password"],
    [type="text"] {
      width: 80%;
    }
  
    input[type="submit"] {
      min-width: 50%;
    }
  
    #container-perfil button {
      min-width: 50%;
    }
  }