*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  border:0;
  font-size:20px;
  color: #323B7E;
  
}
body, html{
  width: 100%;
  display:flex;
  flex-direction: column;
}

h2{
  font-size:30px;
}

/* header principal */
header{
  display: flex;
  position: relative;
  padding: 15px;
  width: 100%;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#logo{
  position: absolute;
  height:130px;
  top: -35px;
  left: -20px;
}

#anunciar{
  display: flex;
  align-items: center;
  margin-left: 10%;
}

#entrar{
  display: flex;
  align-items: center;
  margin-left: 10%;
}

#anunciar img, #entrar img{
  height: 35px;
  margin-right: 5px;
  
}

/* barra pesquisa */
#busca{
  background: #b9d8e6ab;
  border-radius: 20px;
  height: 30px;
  padding:10px;
  width: 50%;
  margin-left: 7%; 
}
#busca:focus{
  outline: 0;
}
#lupa{
   position:relative;
   top: -3px;
   left: -30px;
  cursor:pointer;
}
#lupa:after{
  font-family:FontAwesome;
  font-size:14px;
  content:"\f002"
}

/* header secundario */
#categorias{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
  padding: 10px;
  width: 100%;
  left: 0px;
  top: 0px;
  background: #323B7E;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

#categorias a{
   display: flex;
   flex-direction: column; 
}
#categorias img{
   height: 30px;
   width:36px;
   align-self: center;
}

#categorias p {
   color: white;
   margin: 0;
}

/*Últimos produtos */
#produtocarrossel{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/*Carrossel */
.carousel-item img {
  width: 45vw;
  height: 50vh;
}

.slide {
  width:45vw;
  margin: auto;
}

.carousel-slide{
width: 400px;
height: 400px;
}

/*produtos mais vendidos */

#produtosmvendidos{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#produtosgrid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#produtogrid{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #323B7E;
  padding: 20px;
  margin-bottom: 20px;
  margin-right: 15px;
}

#produtogrid span{
  color: #FFFFFF;
}

#classprodutogrid{
 width:100px;
}
#imgprodutogrid{
  height: 200px;
  width: 250px;
}


footer{
  text-align: center;
  color:#FFFFFF;
  font-size: 12px;
  background: #323B7E;
  padding: 20px;
}


@media (max-width: 480px){
  #busca, #lupa{
      display:none;
  }
  header{
      justify-content: space-around;
  }

  #anunciar{
      margin-left:30%;
  }
  
  #entrar{
      margin-left: 10%;
      margin-right: 5%;
  }

  .carousel-item img {
    width: 90vw;
    height: 50vh;
  }
  
  .slide {
    width:90vw;
    margin: auto;
  }
  
  .carousel-slide{
  width: 500px;
  height: 400px;
  }

  #produtosgrid{
    display: block;
  }

  footer{
    font-size: 15px;
  }
}