* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  border: 0;
  font-size: 20px;
  color: #323B7E;
  text-decoration: none !important;

}

body,
html {
  width: 100%;
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 30px;
  padding-bottom: 20px;
}

/* header principal */
header {
  display: flex;
  position: relative;
  padding: 15px;
  width: 100%;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



#logo {
  position: absolute;
  height: 130px;
  top: -35px;
  left: -20px;
}

#anunciar {
  display: flex;
  align-items: center;
  margin-left: 10%;
}

#entrar {
  display: flex;
  align-items: center;
  margin-left: 10%;
}

#anunciar img,
#entrar img {
  height: 35px;
  margin-right: 5px;

}

/* barra pesquisa */
#busca {
  background: #b9d8e6ab;
  border-radius: 20px;
  height: 35px;
  padding: 10px;
  width: 50%;
  margin-left: 7%;
}

#busca:focus {
  outline: 0px;
}

#lupa {
  position: relative;
  top: -3px;
  left: -30px;
  cursor: pointer;
}

#lupa:after {
  font-family: FontAwesome;
  font-size: 14px;
  content: "\f002"
}

/* header secundario */
#categorias {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
  padding: 10px;
  width: 100%;
  left: 0px;
  top: 0px;
  background: #323B7E;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

#categorias a {
  display: flex;
  flex-direction: column;
}

#categorias img {
  height: 30px;
  width: 36px;
  align-self: center;
}

#categorias p {
  color: white;
  margin: 0;
}

/*Produto */
#produto {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lay2col {
  display: flex;
  width: 100%;
  justify-content: space-between;

}

.imgProd {
  width: 80%;

}

.imgProd img {
  width: 100%;
  margin-left: 10%;
}

.descrProd {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
}

.estrelaProd img {
  width: 80%;
}

.estrelaProd {
  margin: auto;
}

.precoProd {
  font-size: 40px;
  padding: 15px 0px;
  color: #323B7E;
}

.botoesProd {
  display: flex;
  flex-direction: column;
}

.btnComprar {
  background: #50EDF6;
  border-radius: 10px;
  border: none;
  color: #fff;
  font-size: 25px;
  padding: 15px;
  width: 60%;
}

.btnAddCart {
  background-color: #323B7E;
  border-radius: 10px;
  border: none;
  color: #fff;
  font-size: 25px;
  padding: 15px;
  width: 60%;
  margin-top: 30px;
}


/*produtos mais vendidos */

#produtossemelhantes {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#produtosgrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#produtogrid {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #323B7E;
  padding: 5%;
  margin-bottom: 5%;
  margin-right: 5%;
  flex-wrap: wrap;
}

#produtogrid span {
  color: #FFFFFF;
}

#classprodutogrid {
  width: 50%;
}

#imgprodutogrid {
  width: 70%;
}


footer {
  text-align: center;
  color: #FFFFFF;
  font-size: 12px;
  background: #323B7E;
  padding: 20px;
}


@media (max-width: 480px) {

  #busca,
  #lupa {
    display: none;
  }

  header {
    justify-content: space-around;
  }

  #anunciar {
    margin-left: 30%;
  }

  #entrar {
    margin-left: 10%;
    margin-right: 5%;
  }

  #produtosgrid {
    display: block;
  }

  .lay2col {
    display: block;
  }

  .imgProd img {
    width: 100%;

  }

  .precoProd {
    font-size: 30px;
  }

  footer {
    font-size: 15px;
  }
  h2{
    font-size: 15px;
  }
}

@media (min-width: 480px) and (max-width: 800px) {
  .diminuibtn{
    font-size: 15px;
  }
  .diminuitxt{
    font-size: 25px;
  }
  h2{
    font-size: 20px;
  }
}
